body {
    font-family: "Roboto", sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #949090;
    }
.hyputunes{
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: rgb(114, 168, 138);
   width: fit-content;
   padding: 7px;
}

.random{
   display: flex;
   flex-direction: column;
   background-color: rgb(169, 206, 186);
   border-style:outset;
   border-width: 5px;
  align-items: center;
   border-radius: 10px;
   border-color: hsl(36, 39%, 68%);
   margin: 5px auto;
   width: fit-content;
   padding: 8px;
}
h2{
   text-shadow: 2px 2px 2px;
}
.userInputBox{
   width: fit-content;
  background-color: rgb(213, 228, 241);
box-shadow: 4px 4px 6px;
margin: 6px;
padding: 5px;
}
